.App {
  font-family: "roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #eae0da;
  color: teal !important;
}
.navigation-bar {
  background-color: #044377cc;
  color: azure;
  margin-bottom: 2rem;
}

.navigation-bar {
  background-color: #044377cc;
  padding: 0rem 0;
  color: azure;
}

.navigation-bar .container-fluid {
  justify-content: space-between;
}

.nav-link {
  font-weight: 500;
  color: azure;
}

.inputTitle {
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}
.inputTitle:focus {
  background: whitesmoke;
}

.notesBtn {
  transition: scale() box-shadow ease-in-out;
  box-shadow: 0px 8px 10px -6px teal;
}
.notesBtn:active {
  transform: scale(0.8);
}

.imageContainer {
  /* display: none; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /* z-index: ; */
  /* display: none; */
  /* opacity: 0; */
}
.small-text {
  font-size: 12px !important;
}


/* Modal css */
.modal {
  display: block;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.notes-ul{
  position: absolute;
  top : 100%;
  z-index: 5;
  background-color: white;
  border: #687070cc  2px solid ;
  border-top: none;
  left: 0;
  right: 0;
}
.notes-ul span:hover,
.notes-ul span:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}